@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-font:'Montserrat', sans-serif;
    --secondary-font: 'Kenia', cursive;
    --primary-color: #000000;
    --secondary-color: #3a3838;
    --active-color: #C9B200;
    --hover-color: #C9B200;
    
}

main .host-background {
  height: 600px;
  width: 100%;
  background-image: url("https://cdn.dribbble.com/users/458227/screenshots/4543478/media/66221a1c0648fcaca4fdffffb0a19695.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .host-background .overlay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

main .host-background .overlay .form {
  margin: 30px 50px;
  width: 85%;
  height: 90%;
  background-color: white;
  border-radius: 5%;
}

main .host-background .overlay .form .top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

main .host-background .overlay .form .top h3 {
  margin-top: 20px;
  font-family: var(--secondary-font);
  margin-bottom: 20px;
}

main .host-background .overlay .form .top i {
  font-size: 20px;
  margin-bottom: 5px;
}

main .host-background .overlay .form .bottom {
  width: 100%;
  height: 82%;
  display: grid;
  grid-template-columns: 1fr ;
  gap: 3px;
}

main .host-background .overlay .form .bottom .font label{
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 23px;
}

main .host-background .overlay .form .bottom .name input {
  width: 65%;
  margin-left: 90px;
}

main .host-background .overlay .form .bottom .image input {
  width: 65%;
  margin-left: 90px;
}

main .host-background .overlay .form .bottom .description textarea,
main .host-background .overlay .form .bottom   .rooms  textarea {
  margin-top: 5px;
  width: 70%;
  margin-left: 80px;
  resize: none;
  height: 170px;
}

main .host-background .overlay .form .bottom  .rooms input {
  display: flex;
  justify-content: center;
  width: 65%;
  margin-left:  90px;
  margin-top: 5px;
}

main .host-background .overlay .form .bottom  .rooms i {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

main .host-background .overlay .form .last {
  display: flex;
  justify-content: center;
}

 main .host-background .overlay .form a {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 10%;
  background-color: var(--active-color);
  cursor: pointer;
  text-decoration: none;
 }

 main .host-background .overlay .form a button {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: var(--primary-color);
  border: 0px;
  background-color: transparent;
  cursor: pointer;
 }

 main .host-background .overlay .form a:hover {
  background-color: var(--primary-color);
 }


 main .host-background .overlay .form a:hover button {
  color: var(--active-color);
 }

 main .host-background .overlay .form .room-button {
  display: flex;
  justify-content: center;
 }


 main .host-background .overlay-second {
  display: grid;
  grid-template-rows: 1fr 4fr;
  margin-left: 70px;;
 }


 main .host-background .overlay-second .display {
  width: 90%;
 }

 main .host-background .overlay-second .display .table thead tr th {
  font-family: var(--secondary-font);
  font-size: 26px;
 }

 main .host-background .overlay-second .form {
  width: 95%;
  height: 450px;
  background-color: white;
  border-radius: 5%;
 }
